<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="eu">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(cars)}">
    <h2 List cars></h2>
    <table class="table table-striped">
        <tr>
            <th>id</th>
            <th>Car brand</th>
            <th>Color</th>
            <th>License plate</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text=" ${car.getId()}"></td>
            <td th:text=" ${car.getCarBrand()}"></td>
            <td th:text=" ${car.getColor()}"></td>
            <td th:text=" ${car.getLicensePlate()}"></td>
        </tr>
    </table>
    </div>
</div>
</body>

</html>
